<!DOCTYPE HTML>
<html ng-app="main">
<head>
	<title>Візуалізація відкритих даних</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
	<link href="css/main.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaL34OGHlD9TpvJGoPT1MT4bZ_wJAjGNQ"></script>
</head>
<body ng-controller="MainController as main">

<md-toolbar fix-top ng-cloak>
	<div class="md-toolbar-tools">
		<h2>
			<span>Візуалізація відкритих даних</span>
		</h2>
		<span flex></span>
		<md-button ng-repeat="button in main.buttons" ui-sref="{{button.sref}}" class="md-raised">
			{{button.name}}
		</md-button>
	</div>
</md-toolbar>
<div layout="row" class="all-view">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

		<md-tabs md-dynamic-height md-border-bottom md-selected="main.selectedTab">
			<md-tab label="Набори">
				<md-content class="md-padding">
					<md-content layout-padding>
						<md-list ng-if="!main.datasets.length">
							<md-list-item ng-repeat="category in main.categories"
										  ng-click="main.getDatasetsByCategory(category.portalValue)">
								<a ui-sref="{{category.name}}" ng-bind="category.name"></a>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
						<md-list ng-if="main.datasets.length">

							<button ng-click="main.backToCategories()"></button>
							<md-list-item ng-repeat="dataset in main.datasets"
										  ng-click="main.displayDataset(dataset)">
								<a ui-sref="{{dataset.title}}" ng-bind="dataset.title"></a>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
					</md-content>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-sidenav>
	<div class="view-container">
		<div ui-view class="main"></div>
	</div>
</div>

<script type="text/javascript" src="app.bundle.js"></script>

</body>
</html>