.view-container {
    float: right;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.md-sidenav-left {
    width: 20%;
}

.all-view {
    height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}