<div id="map_wrapper" ng-controller="MapController as map">
    <div id="map_canvas" ></div>
    <div id="mapControls">
        <md-input-container>
            <label>Назва району</label>
            <input type="text" ng-model="map.county">
            <button ng-click="map.loadPolygon()">Load polygon</button>
        </md-input-container>
        <div class="actions" ng-show="dataset">
            <md-button class="md-primary" ng-click="highlight(map)"> Показати об'екти </md-button>
            <md-checkbox class="blue" ng-class="{'md-checked': doCluster}" ng-click="toggleCluster()" ng-show="map.markers.length">Кластерiзацiя</md-checkbox>
            <md-button class="md-primary" ng-click="highlightRegions(map)"> Статiстика за районами </md-button>

            <md-select class="fieldSelect" ng-model="field">
                <md-option ng-hide="filteredSet.length == 0" ng-repeat="field in filteredSet = (dataset.fields | filter: removeWrongFields)"
                           value="{{field.id}}">
                    {{field.id}}
                </md-option>
            </md-select>
            <md-checkbox class="blue" ng-click="toggleColorTable()"
                         ng-show="showCheckbox">Таблиця кольорiв</md-checkbox>
            <div class="rainbow" ng-show="showColorTable">
                <div class="box-wrap" ng-repeat="color in colors">
                    <div class="box" style="background:{{color.color}};"></div>
                    <label>{{color.minValue}}<span ng-if="color.minValue == 51200">+</span>
                        <span ng-if="color.maxValue !== 0 && color.minValue != 51200"> - {{color.maxValue}}</span></label>
                </div>
            </div>

            <md-button class="md-primary" ng-click="reset(map)">Очистити</md-button>

            <div ng-if="polygonCoords" style="height: 250px; overflow:auto;">
                <div ng-repeat="set in polygonCoords">
                    <span ng-bind="set.latitude + ' ' + set.longitude"></span>
                </div>
            </div>
        </div>
    </div>
</div>