<div ng-controller="DataController as data">
    <div ng-switch on="data.isDataLoaded">
        <div ng-switch-when="false" layout="row"
             layout-sm="column" layout-align="space-around">
            <md-progress-circular md-mode="indeterminate"
                                  md-diameter="96">

            </md-progress-circular>
        </div>
        <div ng-switch-when="true">
            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="table" border="1">
                        <thead>
                        <tr>
                            <td ng-repeat="field in data.dataset.fields">
                                <span ng-bind="data.dataset.fields[$index].id"></span>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="record in data.dataset.records track by $index">
                            <td ng-repeat="field in data.dataset.fields">
                                <span ng-bind="record[field.id]"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>