<div ng-controller="EditorController">
    <div ng-switch="isEditingActive">
        <div ng-switch-when="false">
            <p>Вкажіть посилання або ідентифікатор набору даних (для порталу data.ngorg.od.ua)</p>
            <form ng-submit="loadDataset(datasetOrIdentifier)">
                <div layout-gt-xs="row">
                    <label for="datasetId">Адреса або ідентифікатор</label>
                    <input id="datasetId" ng-model="datasetOrIdentifier">
                    <button type="submit" class="md-raised md-primary">Відкрити</button>
                </div>
            </form>
            <span ng-show="isDatasetLoading">Завантаження...</span>
        </div>
        <div ng-switch-when="true">
            <p>Відредагуйте та доповніть набір даних</p>
            <div>
                <label>Назва набору даних</label>
                <input ng-model="dataset.name">
                <ul>
                    <li ng-repeat="field in dataset.fields">
                        <label>Назва поля</label>
                        <input type="text" ng-model="field.id">
                        <label>Тип даних</label>
                        <input type="text" ng-model="field.type">
                        <label>Графіка</label>
                        <input type="checkbox" ng-model="hasGraphics">
                        <select ng-show="hasGraphics">
                            <option value="line">Line chart</option>
                            <option value="area">Area chart</option>
                            <option value="bar">Bar chart</option>
                        </select>
                        <label>Геодані</label>
                        <input type="checkbox" ng-model="hasGeoData">
                        <select ng-show="hasGeoData">
                            <option value="lat">Lat</option>
                            <option value="lon">Lon</option>
                        </select>
                        <hr>
                    </li>
                </ul>
                <button type="submit" class="md-raised">Зберегти</button>
            </div>
        </div>
    </div>
</div>