<div ng-controller="EditorController">
    <div ng-switch="isEditingActive">
        <div ng-switch-when="false">
            <p>Вкажіть посилання або ідентифікатор набору даних (для порталу data.ngorg.od.ua)</p>
            <form ng-submit="loadDataset(datasetOrIdentifier)">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Адреса або ідентифікатор</label>
                        <input ng-model="datasetOrIdentifier">
                    </md-input-container>
                    <md-input-container>
                        <md-button type="submit" class="md-raised md-primary">Відкрити</md-button>
                    </md-input-container>
                </div>
            </form>
            <md-progress-linear ng-show="isDatasetLoading" md-mode="indeterminate"></md-progress-linear>
        </div>
        <div ng-switch-when="true">
            <p>Відредагуйте та доповніть набір даних</p>
            <div>
                <md-list>
                    <md-list-item ng-repeat="field in dataset.fields">
                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Назва поля</label>
                                <input ng-model="field.id">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Тип даних</label>
                                <input ng-model="field.type">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Тип візуалізації</label>
                                <input ng-model="field.visualization">
                            </md-input-container>
                        </div>
                        <md-divider ></md-divider>
                    </md-list-item>
                </md-list>
                <md-input-container style="float: right">
                    <md-button type="submit" class="md-raised">Зберегти</md-button>
                </md-input-container>
            </div>
        </div>
    </div>
</div>