<div  id="map_wrapper" ng-controller="MapController">
    <div id="map_canvas" >
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-polygon static="true" ng-repeat="p in polygons" path="p.path" stroke="p.stroke"
             visible="p.visible" geodesic="p.geodesic" fill="p.fill" fit="false" events="p.events"></ui-gmap-polygon>
            <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id">
                <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                    <div>
                        <div>{{m.data.Naimenovanie}}</div>
                        <div>{{m.data.Location}}</div>
                        <div>{{m.data.Mesce}}</div>
                        <div>Район: {{m.data.Rajon}}</div>
                        <div>{{m.data.lat}} {{m.data.lon}}</div>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
        <div class="rainbow">
            <div class="box-wrap">
                <div class="box"></div><div>0</div>
            </div>
            <div class="box-wrap">
                <div class="box" style="background:blue;"></div><div>1-10</div>
            </div>
            <div class="box-wrap">
                <div class="box" style="background:green;"></div><div>11-25</div>
            </div>
            <div class="box-wrap">
                <div class="box" style="background:yellow;"></div><div>26-50</div>
            </div>
            <div class="box-wrap">
                <div class="box" style="background:orange;"></div><div>51-79</div>
            </div>
            <div class="box-wrap">
                <div class="box" style="background:red;"></div><div>80-100</div>
            </div>
        </div>
        </div>
    <select ng-options="dataset.name for dataset in datasets"
            ng-model="selectedItem"
            ng-change="getDataset()">
    </select>

    <br>
    <div class="actions">
        <button class="action" ng-click="highlight(map)">Показати об'екти</button>
        <button class="action" ng-click="highlightRegions(map)">Статiстика за районами</button>
        <button class="action" ng-click="reset(map)">Очистити</button>
    </div>


</div>